{% spaceless %}
{% set params = app.request.query.all %}
{% set pager = datagrid.datasource.pager %}

{% if pager.haveToPaginate() %}
    {{ pagerfanta(pager, 'twitter_bootstrap3') }}
{% endif %}

<table class="table table-striped table-advance table-hover{% if datagrid.isSortable() %} table--sortable{% endif %}">
    <thead>
        <tr>
            <!-- Fields -->
            {% for field in datagrid.fields %}
                {% set fieldName = field.name %}
                {% set sortableField = field.sortableField %}
                {% set fieldLabel = field.label %}
                {% set orderDirection = "DESC" %}
                {% set extraHeaderClass = "" %}
                {% if (sortableField is not empty and sortableField == datagrid.datasource.orderBy) %}
                    {% if datagrid.datasource.orderDirection == "DESC" %}
                        {% set orderDirection = "ASC" %}
                        {% set extraHeaderClass = "datagrid-sort-desc" %}
                    {% else %}
                        {% set extraHeaderClass = "datagrid-sort-asc" %}
                    {% endif %}
                {% else %}
                    {% set extraHeaderClass = "datagrid-sort" %}
                {% endif %}
                <th{% if datagrid.isSortable(fieldName) %} class="js-datagrid-sort {{ extraHeaderClass }}" data-sort-url="{{ path(app.request.attributes.get('_route'), params|merge({ 'orderBy': datagrid.getSortableField(fieldName), "orderDirection": orderDirection }))}}"{% endif %}>
                    {{ fieldLabel | trans }}
                </th>
            {% endfor %}

            {% if datagrid.hasItemActions() %}
            <!-- Actions -->
            <th class="text-right">
                {{ 'admin.list.actions.label'|trans }}
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for item in datagrid.datasource.items() %}
        <tr>
            <!-- Fields -->
            {% for field in datagrid.fields %}
                {% if field.template is not null %}
                    <td>
                        {% include field.template with {'item': item, 'fieldName': field.name, 'value': datagrid.getRawValue(item, field.name)} %}
                    </td>
                {% else %}
                    <td>
                        {{ datagrid.getValue(item, field.name) }}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Actions -->
            {% if datagrid.hasItemActions() %}
                <td class="text-right btn-toolbar">
                    {% for itemAction in datagrid.getItemActions() %}
                        {% if itemAction.template is not null %}
                            {% include itemAction.template with {'item': item, 'action': itemAction} %}
                        {% else %}
                            {% set url = itemAction.getUrl(item) %}
                            {% if url is not empty %}
                                <a href="{{ path(url['route'], url[('params')]) }}"{% for attrname, attrvalue in itemAction.getAttributes(item) %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                                    {% if itemAction.getIcon(item) is not null %}
                                        <i class="fa fa-{{ itemAction.getIcon(item) }}"></i>
                                    {% endif %}
                                    {{ itemAction.getLabel(item)|trans }}
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}

    {% if datagrid.hasListActions() %}
        <tr>
            <td colspan="{{ datagrid.fields|length }}">&nbsp;</td>
            <td class="text-right btn-toolbar">
                {% for action in datagrid.getListActions() %}
                    {% if action.template is not null %}
                        {% include action.template with {'action': action} %}
                    {% else %}
                        <a href="{{ path(action.getUrl()['route'], action.getUrl()['params']|default({}) ) }}"{% for attrname, attrvalue in action.getAttributes() %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                            {% if action.getIcon() is not null %}
                                <i class="fa fa-{{ action.getIcon() }} }}"></i>
                            {% endif %}
                            {{ action.getLabel()|trans }}
                        </a>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
     {% endif %}
    </tbody>
</table>

{% if pager.haveToPaginate() %}
    {{ pagerfanta(pager, 'twitter_bootstrap3') }}
{% endif %}
{% endspaceless %}
